    body{
      background-color: rgb(25, 25, 25);
      color: white;
      font-family: Arial;
    }

    h1{
      font-size: 30px;
      font-weight: bold;
      margin-top: 35px;
    }

    .move-icon {
      background-color:  rgb(25, 25, 25);
      position: relative;
      width: 50px;
      height: 50px;
    }

    .move-button {
      margin-right: 10px;
      background-color: transparent;
      border: 3px solid white;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      cursor: pointer;
    }

    .result {
      font-size: 25px;
      font-weight: bold;
      margin-top: 55px;
    }

    .reset-button{
      background-color: white;
      border: none;
      width: 110px;
      height: 34px;
      cursor: pointer;
      font-weight: 500;
      font-size: 16px;
    }